[defaults]
inventory = hosts
host_key_checking = False
forks=6

#The forks parameter controls how many hosts are configured by Ansible in parallel. ... 
#If you are using Ansible for rolling updates and have, say, 2000 systems, but have decided that 
#you want to update only 100 machines at a time, set "serial" in Ansible to 100, and you'll only need 100 forks

vault_password_file = /root/.vault_pass.txt
# this will prevent you promptig password everytime while running playbook.