[linode]
www1-li 
www2-li 
 
[aws]
www1-aws
www2-aws
 
[google_cloud]
www1-gcp
www2-gcp
 
[linode:vars]
ansible_ssh_user=vivek
ansible_ssh_private_key_file=/home/vivek/.ssh/linode.id_ed25519.pub
 
[aws:vars]
ansible_ssh_user=ec-2
ansible_ssh_private_key_file=/home/vivek/.ssh/aws-ec2-usa-east.pem
 
[google_cloud:vars]
ansible_ssh_user=someuser@gmail.com
ansible_ssh_private_key_file=/home/vivek/.ssh/google_compute_engine.pem
 
[freebsd]
aws_freebsd_1
aws_freebsd_2
aws_freebsd_3
 
[freebsd:vars]
ansible_python_interpreter=/usr/local/bin/python
ansible_ssh_user=vivek
ansible_ssh_private_key_file=/home/vivek/.ssh/freebsd-aws-lightsail.pem